<!DOCTYPE html>
<html>
  <head>
    <title>Provizo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    
    <%= yield(:head) %>
  </head>

  <body class="bg-body-tertiary">
    <%= render ('layouts/shared/navbar') %>
    
    <div class="container">
      <main role="main">
        <%= yield(:content) %>
      </main>
    </div>
    
    <%= render ('layouts/shared/footer') %>
  </body>
</html>
